.button-submit {
  display: block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background: var(--btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}

.button-submit--hero {
  padding: 10px 32px;
}

.button-submit--modal {
  padding: 10px 55px;
}

.subscription__btn--subscription {
  display: block;
  padding: 10px 28px 10px 29px;
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  color: var(--main-border-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}
.close-btn--modal {
  top: 8px;
  right: 8px;
}

.close-btn__close-icon {
  fill: currentColor;
}

.open-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: none;
  &:hover {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.open-menu__icon {
  fill: currentColor;
}
