.page__mob-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding: 6% 0 0 4.5%;
  @media screen and (min-width: 450px) {
    padding: 10% 0 0 8.33%;
  }
  background-color: var(--background-color);
  z-index: 5;
  .mob-menu__container {
    max-width: 767px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.page__mob-menu.is-hidden {
  transform: scale(1.5) rotate(180deg) translate(500px);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn {
  top: 21px;
  right: 25px;
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 30px;
  @media screen and (min-width: 450px) {
    font-size: 40px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}

.mob-menu__telephone {
  display: inline-flex;
  font-weight: 500;
  font-size: 24px;
  @media screen and (min-width: 450px) {
    font-size: 34px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

.mob-menu__mail {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 450px) {
    font-size: 24px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--main-text-color);
}

.mob-menu__social {
  display: flex;
  max-width: 100%;
  margin: 0 -10px;
  padding-bottom: 60px;
  @media screen and (min-width: 450px) {
    padding-bottom: 48px;
  }
  .social-list__item {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: solid 1px rgba(59, 48, 48, 0.2);
    }
  }
}

.social__link-menu {
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 450px) {
    font-size: 18px;
  }
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
