.page__mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  overflow: auto;
  background-color: var(--background-color);
  z-index: 5;
}

.mob-menu__container {
  padding: 8% 0 8% 4.5%;
  @media screen and (min-width: 420px) {
    padding: 10% 0 10% 8.33%;
  }
}

.open-menu-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-menu-btn {
  top: 21px;
  right: 25px;
}
.mob-menu__list {
  margin-bottom: -32px;
}
.mob-menu__item {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 32px;
  @media screen and (min-width: 420px) {
    font-size: 40px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover {
  color: var(--accent-color);
}

.mob-menu_contacts-container {
  @media screen and (min-height: 450px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 4.5%;
    padding-bottom: 60px;
    @media screen and (min-width: 420px) {
      padding-left: 8.33%;
    }
  }
}

.mob-menu__contacts {
  margin-top: 302px;
}

.mob-menu__telephone {
  display: inline-flex;
  font-weight: 500;
  font-size: 26px;
  @media screen and (min-width: 420px) {
    font-size: 34px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

.mob-menu__mail {
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  @media screen and (min-width: 420px) {
    font-size: 24px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--main-text-color);
}

.mob-menu__social {
  display: flex;
  max-width: 100%;
  margin: 0 -10px;
}

.social-list__item:not(:last-child) {
  border-right: solid 1px rgba(59, 48, 48, 0.2);
}

.social-list__item {
  padding: 0 10px;
}

.social__link-menu {
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 420px) {
    font-size: 18px;
  }
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
