.page__mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  //max-height: 100vh;
  // min-height: 100%;
  overflow: auto;
  padding: 6% 0 0 4.5%;
  @media screen and (min-width: 450px) {
    padding: 10% 0 0 8.33%;
  }
  background-color: var(--background-color);
  z-index: 5;
  .mob-menu__container {
    max-width: 767px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.open-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-menu-btn {
  top: 21px;
  right: 25px;
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 30px;
  @media screen and (min-width: 450px) {
    font-size: 40px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}

.mob-menu_bottom {
  //*  @media screen and (min-height: 460px) {
  //    position: absolute;
  //  bottom: 0;
  //left: 0;
  //    width: 100%;
  //   padding-left: 4.5%;
  //   padding-bottom: 48px;
  //    @media (min-width: 420px) {
  //     padding-left: 8.33%;
  //   }
  //  }
}

//.mob-menu__contacts {
//  margin-top: 150px;
//  @media (min-width: 420px) {
// margin-top: 302px;
//}
//}

.mob-menu__telephone {
  display: inline-flex;
  font-weight: 500;
  font-size: 24px;
  @media screen and (min-width: 450px) {
    font-size: 34px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

.mob-menu__mail {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 450px) {
    font-size: 24px;
  }
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--main-text-color);
}

.mob-menu__social {
  display: flex;
  max-width: 100%;
  margin: 0 -10px;
  padding-bottom: 60px;
  @media screen and (min-width: 450px) {
    padding-bottom: 48px;
  }
  .social-list__item {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: solid 1px rgba(59, 48, 48, 0.2);
    }
  }
}

.social__link-menu {
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 450px) {
    font-size: 18px;
  }
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
