.page__mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
  z-index: 5;
}

.mob-menu__container {
  padding: 8% 0 6% 8.33%;
  @media screen and (min-width: 420px) {
    padding: 10% 0 10% 8.33%;
  }
}

.open-menu-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-menu-btn {
  top: 21px;
  right: 25px;
}
.mob-menu__list {
  margin-bottom: -32px;
}
.mob-menu__item {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.mob-menu__contacts {
  margin-top: 37.93%;
}

.mob-menu__telephone {
  display: inline-flex;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

.mob-menu__mail {
  display: inline-flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--main-text-color);
}

.mob-menu__social {
  display: flex;
  max-width: 100%;
  margin: 0 -10px;
}

.mob-menu__social:not(:last-child) {
  border-right: solid 1px rgba(59, 48, 48, 0.2);
}

.social-list__item {
  padding: 0 10px;
  border-right: solid 1px rgba(33, 33, 33, 0.2);
}
.social__link-menu {
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 420px) {
    font-size: 18px;
  }

  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
