.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -15px -30px -15px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
.partners_items {
  width: 50%;
  height: 92px;
  margin: 0 0 30px 0;
  padding: 0 15px;
  @media screen and (max-width: 767px) {
    min-width: 50%;
  }
  @media screen and (min-width: 768px) {
    width: 33.33%;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--main-text-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.partners__icon {
  width: 106 px;
  height: 60px;
  fill: currentColor;
}
