.footer {
  background-color: var(--second-background-color);
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-bottom: 60px;
  }
}

.flex-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.footer__contacts {
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
  }
}

.footer__social {
  padding-top: 60px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
    padding-top: 72px;
  }
}

.footer__subscription {
  @media screen and (min-width: 1200px) {
    padding-top: 72px;
    margin-left: 93px;
  }
}
