.hero {
  min-width: 320px;
  max-width: 1600px;
  height: 100%;
  @media screen and (min-width: 480px) {
    max-width: 768px;
  }
  @media screen and (min-width: 768px) {
    max-width: 1200px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
  text-align: center;
  outline: solid 1px var(--main-border-color);
  margin-left: auto;
  margin-right: auto;
  padding: 118px 15px;
  background-color: var(--second-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-solutions.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  @media screen and (min-width: 1200px) {
    font-size: 40px;
    line-height: 1.37;
    max-width: 696px;
  }
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto 30px auto;
  color: var(--main-title-color);
}
