.section--team {
  background-color: var(--thirst-background-color);
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin-bottom: 0;
    }
  }
}

.team__card {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__photo {
  display: inline-block;
  width: 100%;
}

.team__about {
  padding-bottom: 30px;
  margin-top: 30px;
}

.team__name {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team__job {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
